@if ($headerLayoutFlex) {
    @supports (not (backdrop-filter: none)) and (not (-webkit-backdrop-filter: none))   {
        .header-wrapper {
            background-color: var(--color-bg);
        }
    }
}
