{{ define "main" }}
    {{ if and (eq .Kind "section") .Content }}
        {{ partial "pages/post.html" . }}
    {{ else }}
        <main class="main list" id="main">
            <div class="main-inner">
                <div class="content list-group">
                    {{ if .Site.Params.displayListTitle }}
                        {{ if (eq .Kind "section") }}
                            <h1 class="list-title">
                                <span>{{ .Title | default (delimit (last 1 (split (strings.TrimSuffix "/_index.md" .Path) "/")) " ") }}<span class="list-title-count">
                                        {{ if (eq .Parent.Kind "section") }}
                                        {{len .RegularPages}}
                                        {{else}}
                                        {{len .Site.Pages}}
                                        {{end}}
                                    </span>
                                </span>
                            </h1>
                        {{ end }}
                        {{ if (eq .Kind "taxonomy") }}
                            <h1 class="list-title">{{ .Title | default .Data.Term | default (delimit (last 1 (split (strings.TrimSuffix "/_index.md" .Path) "/")) " ") }}</h1>
                        {{ end }}
                    {{ end }}

                    {{ .Scratch.Delete "pages" }}

                    <!-- Section -->
                    {{ if (eq .Kind "section") }}
                        <!-- Archives -->
                        {{ if (eq .Section "archives") }}
                            {{ $pages := (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
                            {{ .Scratch.Set "pages" $pages }}
                        <!-- Regular Section -->
                        {{ else }}
                            {{ $sectionPage := .CurrentSection }}
                            {{ range .Site.RegularPages }}
                                {{ if (.IsDescendant $sectionPage) }}
                                    {{ $.Scratch.Add "pages" (slice .) }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    <!-- Taxonomy (See `taxonomy` folder) -->
                    <!-- Note: Taxonomy’s Page Kind is `taxonomyTerm`; -->
                    <!--       Taxonomy Term’s Page Kind is `taxonomy` -->

                    <!-- Taxonomy Term -->
                    {{ if (eq .Kind "taxonomy") }}
                        {{ $pages := .Pages }}
                        {{ $.Scratch.Set "pages" $pages }}
                    {{ end }}

                    {{ if (eq .Parent.Kind "section") }}
                        <!-- posts下的子section -->
                        {{ partial "pages/section-posts.html" . }}
                    {{ else }}
                        <!-- posts下的所有文章 -->
                        {{ partial "pages/all-posts.html" . }}
                    {{ end }}
                </div>
            </div>
        </main>
    {{ end }}
{{ end }}